
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>
<h3>Gay Sex</h3>
<table>
    <tr>
        <th>
            ID
        </th>
        <th>
            deneme
        </th>
        <th>
            gay
        </th>
    </tr>
    <tr>
        <td>
            yazı"1"
        </td> <hr />
        <td>
            yazı"2"
        </td>
    </tr>
</table>